<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store-connect</string>
  <key>signingStyle</key>
  <string>manual</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>com.uawauto.uaw</key>
    <string>UAW_Provision_Profile</string>
  </dict>
</dict>
</plist>
